<connectionStrings>
  <add name="MiniDropbox.Local" connectionString="Data Source=(localdb)\Projects;Initial Catalog=MiniDropbox;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
  <add name="MiniDropbox.Remote" connectionString="Server=9a761585-743d-437a-94cf-a20800fd7f22.sqlserver.sequelizer.com;Database=db9a761585743d437a94cfa20800fd7f22;User ID=zrlwmsaogvvbjrhu;Password=WyVaKYUcRDtQaUxqAS8zrVse264ttQGPX5surFcPLKfjmwttAqVuJz2afRhN5zQb;"/>
</connectionStrings>
